* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: blanchedalmond;
    scroll-behavior: smooth; 
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
}

nav > div > a {
    text-decoration: none;
    color: black;
    background-color: lightgoldenrodyellow;
    margin-left: 25px;
    margin-right: 25px;
}

nav {
    background-color: lightgoldenrodyellow;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-radius: 15px;
}

#login_nav, #registrer_nav {
    margin-left: auto;
}

#register_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 15px;
}